.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f6f8fc;
}

.auth{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f6f8fc;
    overflow: hidden;
}